@charset "utf-8";
/* CSS Document */
/*pinji new header*/
.top_bar { background:url(http://static.pinju.com/images/top_bar_bg_03.gif) #fdfdfd repeat-x bottom; }
.top_bar_box { width:1000px; margin:0 auto; height:35px; line-height:35px;}
.login_status { float:left; }
.login_status .welcome { margin:0 10px; }
.login_status span { margin-left:14px; }
.login_status a { color:#d72426; }
.top_bar_box .liaison { float:right; color:#d4d4d4; }
.liaison a { color:#333; margin:0 15px; }
.logo { width:1000px; margin:0 auto; height:85px; }
.logo_pic { float:left; margin:16px 0 0 22px; }
.pj_nav { background: url("http://static.pinju.com/images/cart_t_bg_05.gif") repeat-x; clear:both; height: 37px; margin-bottom: 11px; width: 1000px; margin:0 auto; }
.nav_l { background: url("http://static.pinju.com/images/cart_t_bg_03.gif") no-repeat; float: left; height: 37px; width: 5px; }
.nav_r { background: url("http://static.pinju.com/images/cart_t_bg_07.gif") no-repeat; float: right; height: 37px; width: 5px; }
.nav_list { float:left; margin:7px 0 0 15px; _display:inline; width:950px; }
.nav_list li { float:left; width:71px; height:24px; font:bold 12px/24px "宋体", Arial; text-align:center; margin-left:18px; _display:inline; }
.nav_list li.focus { background:url(http://static.pinju.com/images/nav_focus_bg_29.gif) no-repeat; }
.nav_list li.focus a { color:#a40000; }
.nav_list li.help { float:right; }
.nav_list li a { color:#FFF; white-space:nowrap; }
/*pinji new header end*/
.wrap { width:1000px; margin:0 auto 10px;}

/*pinji new footer*/
.footer { border-top:#560003 20px solid; background:#a30a0d; padding-top:24px; }
.footer_main { padding:0 43px 10px; width:916px; margin:0 auto; color:#FFF; }
.foot_nav { border-top:solid 1px #FFF; text-align:center; margin-bottom:15px; padding-top:15px;}
.foot_nav li { display:inline-block; *display:inline;_zoom:1; margin:0 20px; }
.foot_nav li a { color:#FFF; }
.footer .copyright { text-align:center; margin-bottom:12px; }
.test{color:#A30A0D;}
/*pinji new header   950px*/
.logo_bar950{ width:950px; margin:0 auto; height:85px; }
.logo_pic950{ float:left; margin:16px 0 0 22px; }
.store_info{ float:left; margin-left:18px; _display:inline; width:190px;}
.store_info .h_bor{ background:url(http://static.pinju.com/images/store_t.gif) no-repeat center top; height:2px; overflow:hidden;}
.store_info .f_bor{background:url(http://static.pinju.com/images/store_f.gif) no-repeat center top;height:2px; overflow:hidden; }
.store_info_content{background:#f5f5f5;border:solid #dadada;border-width:0 1px; overflow:hidden; height:53px;}
.store_level{ width:32px; height:32px; float:left; margin:9px 0 0 27px;_display:inline;}
.store_type{width:77px ; height:21px; background:url(http://static.pinju.com/images/store_info_bg.gif) no-repeat; margin:5px 0 0 78px; text-align:center; color:#FFF; line-height:21px;}
.store_name{margin:6px 0 0 78px; color:#000; }
/*pinji new footer end*/
.fl { float:left; }
.fr { float:right; }

/* search style for shop & products */
.wrap .logo { float:left; width:240px;}
.search-panel { float:right; width:570px; padding:10px 35px 0 5px;}
.search-panel .tabs { float:left; width:570px; }
.search-panel .tabs ul { float:left; width:560px; padding:0 0 0 10px; }
.search-panel .tabs ul li { float:left; }
.search-panel .tabs ul li a {float:left; text-align:center; width:49px; line-height:21px; color:#000; text-decoration:none; }
.search-panel .tabs ul li a:hover {color:#d72426; text-decoration:underline; }
.search-panel .tabs ul li a.active {background:transparent url(http://static.pinju.com/img/search.png) no-repeat scroll 0 -50px; color:#fff;}
.search-fields {background:transparent url(http://static.pinju.com/img/search.png) no-repeat scroll 0 0; float:left; height:18px; width:434px; padding:6px 6px 6px 30px; position:relative; }
.search-fields label { color:#999; position:absolute; top:7px; left:30; z-index:5; }
.search-fields input { background-color:transparent; border:0 none; position:absolute; top:7px; left:30; width:434px; z-index:10; }
.search-panel .btn {background:transparent url(http://static.pinju.com/img/search.png) no-repeat scroll right 0;color:#fff; font-size:14px; font-weight:bold; float:left; height:30px; margin:0 0 0 6px; width:93px; }
.suggestwrap { background-color:#fff; border:1px solid #ccc; overflow:hidden; position:absolute; top:28px; left:0; height:196px; width:470px; }
.suggestlist li { line-height:24px; height:24px; clear:both; padding:0 10px; }
.suggestlist li.hover { background-color:#d72426; color:#fff; }
.suggestlist .name {float:left;}
.suggestlist .count {float:right;}
.breadcrumbs { margin-top:10px; }

.sp-search .bar-left { border-top:2px solid #d72426; width:190px; }
.sp-search .bar-left .box { border:1px solid #DADADA; }
.sp-search .bar-left .box h2 { background-color:#f6f6f6; border-bottom:1px solid #e9e9e9; text-indent:10px; }
.sp-search .bar-left .box form fieldset { padding:0 0 10px; }
.sp-search .bar-left .box form fieldset.center { text-align:center; }
.sp-search .bar-left .box form fieldset input.btn { background:transparent url(http://static.pinju.com/img/search.png) no-repeat scroll right -50px; height:23px; width:69px;}
.sp-search .bar-left .box form legend {display: block; font-size: 14px; font-weight:bold; padding-left: 170px; text-indent: -170px; padding-bottom:10px;}
.sp-search .bar-left .box .ct { padding: 10px; }
.sp-search .bar-left .box .ct ul li { float:left; padding:0 0 10px; width:70px; }
.sp-search .bar-left .box ul li input { vertical-align: middle; padding:0; }
.sp-search .bar-left .box ul li label { color:#666; cursor: pointer; margin-left: 5px; *margin-left:0; }
.sp-search .bar-left .box .ct .fullwidth li { float:left; width:100%; }
.sp-search .bar-left .box .ct .fullwidth label { margin:0;}
.sp-search .bar-left .box .ct .fullwidth input { width:120px; }
.sp-search .bar-left .box .ct .fullwidth select { width:124px; }

.sp-search .contents { padding:0; width:800px; }
.sp-search .tabbar {float:left; border-bottom:2px solid #d72426; width:100%;}
.sp-search .tabbar .item { float:left; background-color:#d72426; padding:5px 20px; color:#fff; font-weight:bold; }
.sp-search .tabbar .item a {color:#fff; }
.sp-search .tabbar .pageitem { float:right;}

.shoplist-title { border-bottom:1px solid #d72426; float:left; padding:10px 0; width:800px;}
.shoplist-title li { color:#666; }
.shoplist-title .mode {float:left; width:360px; padding:0 0 0 5px;}
.shoplist-title .amount {float:left; width:100px; text-align:center;}
.shoplist-title .shopowner {float:left; width:100px; text-align:center;}
.shoplist-title .location {float:left; width:100px; text-align:center;}
.shoplist-title .order {float:left; width:135px; position:relative;}
.shoplist-title .order span {float:left; padding:3px 5px 0 0;}
.shoplist-title .order #ordercd { background:transparent url(http://static.pinju.com/img/search.png) no-repeat scroll right -101px; height:17px; padding:3px 0 0 6px; width:80px;}
#ordercdlist { position: absolute; top: 19px; background-color:#fff; padding:5px; border:1px solid #ccc;}

.shoplist-view .item { border-bottom:1px dashed #c8c5c4; color:#666; float:left; padding:20px 0 5px 15px; width:785px;}
.shoplist-view .item .mode {float:left; width:350px;}
.shoplist-view .item .mode .img {float:left; width:70px; padding:0 15px 0 0;}
.shoplist-view .item .mode dl {float:left; width:255px; padding-right:10px;}
.shoplist-view .item .mode dl dt { font-weight:bold; }
.shoplist-view .item .mode dl dt strong { color:#d72426 !important; }
.mode .exinfo { padding: 10px 0; }
.mode .exinfo li { display:inline;}
.exinfo span { margin:0 5px 0 0; }
.shoplist-view .item .amount {float:left; width:100px; text-align:center;}
.shoplist-view .item .shopowner {float:left; width:100px; text-align:center;}
.shoplist-view .item .location {float:left; width:100px; text-align:center;}

/* search for products */
.breadcrumbs-s {background:transparent url(http://static.pinju.com/img/search.png) repeat-x scroll left -200px; border:1px solid #e1e7f5; height:23px; overflow:hidden; margin-bottom:10px; padding:0 10px;}
.breadcrumbs-s li { color:#666; float: left; line-height:23px;}
.breadcrumbs-s li a { background:transparent url(http://static.pinju.com/img/search.png) no-repeat scroll right -250px; float: left; line-height:23px; padding:0 20px 0 0;}
.breadcrumbs-s li a:hover { color:#d72426; }
.breadcrumbs-s .total { background:transparent none no-repeat 0 0; float:right;}
.breadcrumbs-s .total strong { color:#d72426; font-weight:bold; }

.pdcat { border:1px solid #f9dfb2; }
.pdcat h3 {background-color:#ffffe0; border-bottom:1px solid #f9dfb2; padding:6px; }
.productdetail { padding:0 7px; }
.productdetail li { height:30px; line-height:30px; border-bottom:1px solid #dadada; clear:both; }
.productdetail li.last { border-bottom:0 none; }
.productdetail li dt { color:#666; text-align: right; padding:0 10px 0 5px; width: 75px;}
.productdetail li dt,.productdetail li dd { float: left; }
.productdetail li dd { padding:0 40px 0 0;}

.relatedcat { border-top:1px solid #f9dfb2; clear:both; padding:12px 8px; height:16px; }
.relatedcat li { float:left; padding-right:50px;}

.relatedprod { background:transparent url(http://static.pinju.com/img/search.png) repeat-x scroll left -200px; border:1px solid #e1e7f5; margin:8px 0; padding:0 10px; height:28px; line-height:28px; }
.relatedprod dt,.relatedprod dd { float:left;}
.relatedprod dt { padding:0 20px 0 0; }
.relatedprod dd { padding:0 40px 0 0; }

.sfilter{ clear:both; margin-bottom:10px; }
.basicfilter {padding:10px 0 5px;}
.basicfilter label { color:#666; }
.basicfilter ul li { float:left; padding:5px 10px; }
.basicfilter li.checkbox input { vertical-align: middle; margin-right:5px;}
.basicfilter .keywords input { width:150px; }
.basicfilter .exclude input { width:90px; }
.basicfilter .submit { float:right;}
.sortbar { background:transparent url(http://static.pinju.com/img/search.png) repeat-x scroll left -200px; border:1px solid #e1e7f5; padding:3px 10px 0; }
.sortdefault,.sortbtns,.pricearea { float:left; }
.sortitem .selected { float:left; background:transparent url(http://static.pinju.com/img/search.png) repeat-x scroll right -300px; color:#666; cursor:pointer; padding:3px 26px 0 0; margin:0 10px 0 0; text-decoration:none;}
.sortitem .selected .sortext { float:left; height:20px; }
.sortdefault { position:relative; }
.sortdefault .sortlist { background-color:#fff; border:1px solid #ccc; display:none; padding:5px 3px; position:absolute; left:-11px; top:21px; }
.sortlist a { display:block;  background:transparent url(http://static.pinju.com/img/search.png) repeat-x scroll -400px -50px;  line-height:22px; padding:0 0 0 30px; width:76px;}
.sortlist .pricelow { background-position:-400px -46px; }
.sortlist .pricehigh{ background-position:-400px -68px; }
.sortlist .sale { background-position:-400px -88px; }
.sortlist .rank { background-position:-400px -109px; }
.sortlist .apricelow { background-position:-400px -130px; }
.sortlist .apricehigh{ background-position:-400px -152px; }

.sortbtns {padding:3px 10px 0 0;}
.sortbtns li { float:left; }
.sortbtns a { float:left; background:transparent url(http://static.pinju.com/img/search.png) no-repeat scroll left -252px; margin:0 5px 0 0; }
.sortbtns .by-sale { background-position:30px -252px; width:50px;}
.sortbtns .by-rank { background-position:30px -252px; width:50px;}
.sortbtns .by-price { background-position:30px -302px; width:50px;}
.sortbtns .ordered { background-position:-70px -252px; color:#d72426; }
.pricearea input { width: 50px;}
.expmessage { background-color:#ffffe0; border:1px solid #f9dfb2; padding:8px 10px; margin:10px 0;}

.sp-search .plwrap .bar-left { border-bottom:1px solid #dcdcdc; border-left:1px solid #dcdcdc; border-right:1px solid #dcdcdc; }

.plwrap .bar-topic { background-color:#f6f6f6; border-bottom:1px solid #e9e9e9; color:#000; font-size:12px; text-indent: 10px;}
.menu-pcat li { background:transparent url(http://static.pinju.com/img/search.png) no-repeat scroll left -400px; line-height:22px; }
.menu-pcat li a {color:#666; display:block; padding:0 5px 0 20px; text-decoration:none; }
.menu-pcat ul a:hover { color:#be0000; }
.menu-pcat ul { padding:5px 0 5px 36px; }
.menu-pcat ul ul { padding:0 0 0 24px; }
.menu-pcat ul li { background:transparent none no-repeat scroll 0 0; }
.menu-pcat ul li a { background:transparent none no-repeat scroll 0 0; padding:0 0 0 14px; }
.menu-pcat .haschildren .title { background:transparent url(http://static.pinju.com/img/search.png) no-repeat scroll right -350px; }
.menu-pcat .active .title { background-position:right -400px; }
.menu-pcat .haschildren .haschildren .title { background-position:-578px -350px; }
.menu-pcat .haschildren .active .title { background-position:-578px -400px; }
.menu-pcat .haschildren ul { display:none; }
.menu-pcat .active ul { display:block; }
.menu-pcat .active ul .haschildren ul { display:none; }
.menu-pcat .active ul .active ul { display:block; }
.menu-pcat .active a { font-weight:bold; }
.menu-pcat .active ul a { font-weight:normal; }
.menu-pcat .active ul .active a { font-weight:bold; color:#be0000; }
.menu-pcat .active ul .active ul a { font-weight:normal; color:#666; }
.menu-pcat .active ul .active ul a.current { background:transparent url(http://static.pinju.com/img/search.png) no-repeat scroll -100px -50px; color:#be0000; font-weight:bold; }

.result-pcat { padding:10px 0 20px;}
.result-pcat li { line-height:22px; }
.result-pcat a {color:#666; display:block; padding:0 5px 0 24px; text-decoration:none; }
.result-pcat a.current { background:transparent url(http://static.pinju.com/img/search.png) no-repeat scroll left -350px; color:#fff; display:block; }

.plist-view { width:800px; margin:0 auto;}
.plist-view .item {border-bottom:1px solid #dadada; color:#666; float:left; padding:10px 0 15px; width:800px;}
.plist-view .img { float:left; width:83px; padding:0 10px 0 10px;}
.plist-view .img img { height:81px; width:81px; border:1px solid #e1e7f5; }
.plist-view .titletext {float:left; width:230px; padding:0 35px 0 0;}
.plist-view .titletext dt { font-weight:bold; line-height:2em; padding:0 0 20px 0; }
.plist-view .titletext dt strong { color:#d72426 !important; }
.plist-view .titletext dd a { color:#666; text-decoration:underline; }
.plist-view .titletext dd a:hover { color:#d72426; }
.plist-view .price {float:left; width:130px;}
.plist-view .price dt {line-height:2em; padding:0 0 5px 0;}
.plist-view .price dt strong {color:#d72426; font-size:16px; font-weight:bold;  }
.plist-view .location { float:left; width:90px; line-height:2em; text-align:center;}
.plist-view .saleamount { float:left; width:120px; line-height:2em; text-align:center;}
.plist-view .saleamount span { float:left; margin:0 10px 0 0;}
.plist-view .quality_items { float:right; }

/* quality images */
.q_p,.q_7 {background:transparent url(http://static.pinju.com/img/search.png) no-repeat scroll left -100px; float:left; height:22px; width:22px;}
.q_7 { background-position:-30px -100px;}
.q_t,.exinfo .q_ts {float:left; background-color:#ffffe0; border:1px solid #f9dfb2; padding:2px 5px; }
.q_ts {color:#d72426; }

.ql_p,.ql_7,.ql_3b,.ql_exp {background:transparent url(http://static.pinju.com/img/search.png) no-repeat scroll left -150px; display:block; height:19px; width:86px;}
.ql_7 { background-position:-96px -150px;}
.ql_3b { background-position:-192px -150px; }
.ql_exp { background-position:-287px -150px; }
