@charset "utf-8";
/*  reset style   */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: middle;
}

section, article, aside, header, footer, nav, dialog, figure {
	display: block;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input, textarea {
	margin: 0;
	resize: none;
}

a:focus, input:focus, textarea:focus {
	outline: none;
}

/*  common style  */
html, body {
	width: 100%;
	background: #FFF url(about:blank) fixed;
}

html {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 15px;
	color: #333;
}

a {
	color: #06C;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

button, .btn {
	border: none;
	cursor: pointer;
}

iframe {
	overflow: hidden;
	border: none;
	background: transparent;
}

.cf:after {
	content: "...";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.cf {
	line-height: 1px;
	zoom: 1;
}

.hph {
	color: #999 !important;
}
/*表单*/
.text{ height:20px; width:240px; padding:3px 2px 0 2px; border:1px solid #999;}
/*整体主容器定义*/
.wrap, .wrap-border{ clear: both; overflow: hidden; margin: 0 auto;}
.wrap{ width: 1000px;}
.wrap-border{ width: 998px; border:1px solid #DADADA; background:url(http://static.pinju.com/img/line.png) repeat-y 149px 0; }

/*页面左右容器*/
.bar-left, .contents{ overflow: hidden; }
.contents{ width: 828px; float: right; padding: 10px; background:#F4F4F4;}
.main-box{ width: 828px; float: right; padding: 10px;}
.bar-left{ width: 149px; float: left;}

.bar-topic{ font-size:14px;}
.bar-topic{ text-align:center; font-weight:bold; padding:6px 0 5px; text-align:left; text-indent:20px;}
.bar-list{ text-align:center; padding:0 0 5px;}
.bar-list h3, .bar-list li{ text-align:left; text-indent:20px;}
.bar-list h3{ background:#F8F8F8; padding:8px 0 4px; font-weight:bold; border:1px solid #FFF; color:#000; border-top:1px solid #e9e9e9;}
.bar-list li{ display:block; line-height:23px; padding:3px 0; color:#999;}
.bar-list li a{ color:#333; display:block; margin:0 3px;}
.bar-list .count a{ background: url(http://static.pinju.com/img/button.png) no-repeat 0 -200px; text-decoration:none; color:#FFF;}

/*页头顶端条定义*/
.top-bar{ height:32px; overflow:hidden; background: url(http://static.pinju.com/img/header-sub.png) repeat-x 0 0 #F4F4F4;}
.top-bar div{ width:1000px; margin:0 auto; padding-top:8px;}
.top-bar div a{ font-weight:bold; padding:0 10px; }
/*页头*/
#HeaderSub{ height: 90px; background: #F4F4F4;}
/*导航*/
#Nav{ height:37px; background: url(http://static.pinju.com/img/header-sub.png) repeat-x 0 -50px #C00;}
#Nav .left{ width:10px; height:37px; background: url(http://static.pinju.com/img/header-sub.png) no-repeat 0 -100px;}
#Nav ul{ background: url(http://static.pinju.com/img/header-sub.png) no-repeat right -150px; height:37px; overflow: hidden;}
#Nav li{ display:block; float:left; padding-right:10px; margin-right:20px;}
#Nav li a{ color:#F8F8F8; font-weight:bold; padding:12px 0 8px 10px;}
#Nav li a{ display:block; float:left; font-size:14px; line-height:17px;}

#Nav .count{ background: url(http://static.pinju.com/img/header-sub.png) no-repeat right -250px;}
#Nav .count a{ color:#C00; background: url(http://static.pinju.com/img/header-sub.png) no-repeat 0 -200px;}

/*页码分页*/
.button_next{ width:16px; background:url(http://static.pinju.com/img/button.png) no-repeat 0 -700px; border: none;cursor: pointer;}
.button_next_none{ width:16px; background:url(http://static.pinju.com/img/button.png) no-repeat 0 -750px;border: none;cursor: pointer;}
.button_previous{ width:52px; background:url(http://static.pinju.com/img/button.png) no-repeat -30px -700px;border: none;cursor: pointer;}
.button_previous_none{ width:52px; background:url(http://static.pinju.com/img/button.png) no-repeat -30px -750px;border: none;cursor: pointer;}

