@charset "utf-8";
/*  reset style   */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}
table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; font-size: 100%; font: inherit; }

section, article, aside, header, footer, nav, dialog, figure {
	display: block;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input, textarea {
	margin: 0;
	resize: none;
}

a:focus, input:focus, textarea:focus {
	outline: none;
}

/*  common style  */
html, body {
	width: 100%;
	background: #FFF url(about:blank) fixed;
}

html {
	font-family:Tahoma,simsun;
	font-size: 12px;
	line-height: 15px;
	color: #333;
}

a {
	color: #06C;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

button, .btn {
	border: none;
	cursor: pointer;
}

iframe {
	overflow: hidden;
	border: none;
	background: transparent;
}

.cf:after {
	content: "...";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.cf {
	zoom: 1;
}

.hph {
	color: #999 !important;
}

.dom-tpl {
	display: none;
}

.hide {
	display: none !important;
}

#Console {
	padding: 3px;
	height: 400px;
	overflow: auto;
	border: 2px solid #999;
}

#PageLoading {
	padding: 5px 5px 5px 21px;
	line-height: 13px;
	position: absolute;
	top: 0px;
	left: 0px;
	background: #FF6 url(../img/page-loading.gif) no-repeat 3px center;
}
