@charset "utf-8";
/* CSS Document */
/*pinji new header*/
.top_bar { background:url(http://static.pinju.com/images/top_bar_bg_03.gif) #fdfdfd repeat-x bottom; }
.top_bar_box { width:1000px; margin:0 auto; height:35px; line-height:35px;}
.login_status { float:left; }
.login_status .welcome { margin:0 10px; }
.login_status span { margin-left:14px; }
.login_status a { color:#d72426; }
.top_bar_box .liaison { float:right; color:#d4d4d4; }
.liaison a { color:#333; margin:0 15px; }
.logo { width:1000px; margin:0 auto; height:85px; }
.logo_pic { float:left; margin:16px 0 0 22px; }
.pj_nav { background: url("http://static.pinju.com/images/cart_t_bg_05.gif") repeat-x; height: 37px; margin-bottom: 11px; width: 1000px; margin:0 auto; clear:both; }
.nav_l { background: url("http://static.pinju.com/images/cart_t_bg_03.gif") no-repeat; float: left; height: 37px; width: 5px; }
.nav_r { background: url("http://static.pinju.com/images/cart_t_bg_07.gif") no-repeat; float: right; height: 37px; width: 5px; }

.nav_list { float:left; margin:7px 0 0 15px; _display:inline; width:950px; }
.nav_list li { float:left; width:71px; height:24px; color:#da7474; text-align:center; margin-left:18px; _display:inline; }
.nav_list li a, .nav_list li{ /*font-weight:bold;*/ font-size:16px; line-height:19px; font-family:Tahoma,simsun;}
.nav_list li.focus { background:url(http://static.pinju.com/images/nav_focus_bg_29.gif) no-repeat; }
.nav_list li.focus a { color:#a40000; }
.nav_list li.help { float:right; }
.nav_list li a { color:#FFF; white-space:nowrap; }

.position_r { position:relative; }
.head_img {
	position: absolute;
	width: 433px;
	height: 85px;
	right: 0;
	top: -85px;
}
.hot_0822 {
	position:absolute;
	width:43px;
	height:23px;
	background:url("http://static.pinju.com/img/hot_0822.png") no-repeat;
	left:550px;
	top:-5px;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://static.pinju.com/img/hot_0822.png'); /* IE6 */
	_background-image: none; /* IE6 */
}

/*pinji new header end*/
.wrap { width:1000px; margin:0 auto 10px;}
.wrap950 { width:950px; margin:0 auto 10px;}
/*pinji new footer*/
.footer { border-top:#560003 20px solid; background:#a30a0d; padding-top:24px; }
.footer_main { padding:0 43px 10px; width:916px; margin:0 auto; color:#FFF; }
.foot_nav { border-top:solid 1px #FFF; text-align:center; margin-bottom:15px; padding-top:15px;}
.foot_nav li { display:inline-block; *display:inline;_zoom:1; margin:0 20px; }
.foot_nav li a { color:#FFF; }
.footer .copyright { text-align:center; margin-bottom:12px; }
.test{color:#A30A0D;}
/*pinji new header   950px*/
.logo_bar950{ width:950px; margin:0 auto; height:85px; }
.logo_pic950{ float:left; margin:16px 0 0 22px; }
.store_info{ float:left; margin-left:18px; _display:inline; width:190px;}
.store_info .h_bor{ background:url(http://static.pinju.com/images/store_t.gif) no-repeat center top; height:2px; overflow:hidden;}
.store_info .f_bor{background:url(http://static.pinju.com/images/store_f.gif) no-repeat center top;height:2px; overflow:hidden; }
.store_info_content{background:#f5f5f5;border:solid #dadada;border-width:0 1px; overflow:hidden; height:53px;}
.store_level{ width:32px; height:32px; float:left; margin:9px 0 0 27px;_display:inline;}
.store_type{width:77px ; height:21px; background:url(http://static.pinju.com/images/store_info_bg.gif) no-repeat; margin:5px 0 0 78px; text-align:center; color:#FFF; line-height:21px;}
.store_name{margin:6px 0 0 78px; color:#000; }
/*pinji new footer end*/
.fl { float:left; }
.fr { float:right; }
