@charset "utf-8";
/* CSS Document */
.content{ background:url(http://static.pinju.com/images/cart_pic_03.gif) 58px 100px no-repeat; width:800px; margin:0 auto;padding:120px 0 100px 200px;}
.cart_txt1{ font-weight:bold; font-size:14px; margin-bottom:15px; }

