
/*-------------诚信---------------*/
/*-------------诚信---------------*/
.main_1000px .honesty_box1000px{ float:left;width:1000px;}


/*************/
/***right***/
/*************/
.main_1000px .honesty_right { float:left;width:753px;}
	.main_1000px .honesty_right  .honesty_right_container{ float:left;width:733px;padding:5px 10px;}
		.main_1000px .honesty_right .honesty_right_container ul{ padding:5px 10px; margin-top:5px;}
		.main_1000px .honesty_right .honesty_right_container li { padding:5px 10px; }
   
   .main_1000px .honesty_right  .honesty_right_container02{ float:left;width:723px; padding:5px;}
   .main_1000px .honesty_right  .honesty_right_container02 p{ padding:6px;}
   
   

/*************/
/***bottom***/
/*************/
.main_1000px .honesty_box1000px table tr td { padding:5px 10px;}
.main_1000px .honesty_box1000px p{ padding:6px;}
/*************/
/******/
/*************/

/*----------------------------*/

/*----------------------------*/

/*----------------------------*/

/*----------------------------*/

/*----------------------------*/

/*----------------------------*/

/*----------------------------*/

/*----------------------------*/